*{
  margin: 0px;
}

.invisible{
  display: none;
}

.see-through{
  opacity: 50%;
}

.highlighted{
  background-color: rgb(194, 194, 194);
}

.UI-container{
  display: flex;
}

.board-container{
  width: fit-content;
}

.board{
  width: fit-content;
  margin: 20px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-radius: 10px;
}

.board-row{
  display: flex;
}

.board-square{
  min-width: 75px;
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-square-white{
  background-color: rgb(225, 225, 225);
}

.board-square-black{
  background-color: rgb(0, 156, 115);
}

.board-square-highlighted-0{
  background-image: linear-gradient(
    rgba(195, 255, 30, 0.6)
  );
}

.piece-svg{
  cursor: pointer;
}

.promotion-chooser-white-container{
  display: flex;
  align-items: center;
}

.promotion-chooser-white{
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  cursor: pointer;

  background-color: rgb(225, 225, 225);
}

.promotion-chooser-black-container{
  display: flex;
  align-items: center;
}

.promotion-chooser-black{
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  cursor: pointer;

  background-color: rgb(225, 225, 225);
}